
.og-management-all-form table {
  width: auto;
}

div.scrollable {
  overflow-x: scroll;
  width: 450px;
}

.og-management-all-form table .form-item {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

.og-management-all-form th, .og-management-all-form td {
  text-align: left;
  border: 0px;
}

.og-management-all-form table input,  .og-management-all-form table select{
  font-size: 80%;
}

table.form-information {
  font-size: 80%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  line-height: 270%;
  height: 8em;
  border: 0px;
  width: 210px;
}

tbody {
  border: 0px;
}

table.form-information td{
  padding: 0px;
}

div.scrollable th a{
  display: block;
  height: 2.7em;
  width: 10em;
	overflow: hidden;
}
